
.register {
    height: 100vh;
    background-color: rgb(200, 198, 239);
    // background-color: rgb(193, 190, 255);
    // background-image: url("https://unsplash.com/photos/PQWw9ReEWG0");
    display: flex;
    align-items: center;
    justify-content: center;
  
    .card {
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      background-color: white;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
  
      .left {
        flex: 1;
        background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
          url("https://unsplash.com/photos/PQWw9ReEWG0")
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
  
        h1 {
          font-size: 100px;
          line-height: 100px;
          text-decoration: underline;
          text-decoration-thickness: 1%;
          text-underline-offset: 7px;
          font-family: 'Freehand', cursive;
          font-weight: lighter;
          font-style: italic;
        }

        h2{
          margin-top: -95px;
          margin-left: 5px;
          font-size: 25px;
          text-decoration: underline;
          text-decoration-thickness: 1%;
          text-underline-offset: 6px;
          letter-spacing: 6px;
        }
        
        p {
          font-size: 25px;
          margin-top: 20px;
          letter-spacing: 3px;
          margin-left: 5px;
          font-style: italic;
        }
  
        span {
          font-size: 15px;
        }
        
        button {
          align-items: center;
          display: flex;
          width: 90%;
          height: 80px;
          padding: 8px;
          border: none;
          background-color: white;
          color: rgb(127, 82, 172);
          font-weight: bold;
          cursor: pointer;
          font-size: 20px;
          font-style: italic;
          margin-top: 90px;
         border-radius: 7%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        // #admin_dash:hover{
        //   background-color:  w;
        // }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
        h1 {
        color: #4a4949;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          font-size: 18px;
          }
          
          button {
            width: 50%;
            height: 3rem;
            padding: 10px;
            border: none;
            border-radius: 7%;
            background-color: rgba(39, 11, 96, 0.5);
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 18px;
            // font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-family: 'Poppins', sans-serif;
          }

        }
      }
    }
  }
  #admin_dash:hover{
background-color: #dddce8;
  }

  i{
    margin-left: auto;
    size: 5%;
  }

  